include README.rst
include CONTRIBUTING.rst
include CHANGELOG.txt
include LICENSE
include THIRD-PARTY-NOTICES
include SECURITY.md
graft pdfreader/codecs/cmaps
graft pdfreader/parsers/cmap-samples
global-include *.txt
recursive-include doc *.rst
recursive-include doc *.py
recursive-include doc *.conf
recursive-include doc *.png
recursive-include doc *.pdf
prune venv
prune .venv
prune doc/_build
prune dist
exclude example-crash-markdown.txt extract-logo.png fax-from-p8.png mask.png sample-cmap.txt sample-font.type1